*.iml
*.ipr
*.iws
.DS_Store
towlandia.sublime-project
towlandia.sublime-workspace
public/assets/img/Thumbs.db
public/assets/img/dashboard-high-512.png
public/assets/img/disciplinometer-table.png
public/assets/img/speedometer-.png