body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.quadrant {
    opacity: 0.7;
}

.quadrant.af { fill: red; }
.quadrant.ec { fill: green; }
.quadrant.ab { fill: steelblue; }
.quadrant.au { fill: violet; }